.el-form-item .el-form-item__label {
  text-transform: uppercase;
  font-size: 12px;
  line-height: 30px;

  &:before {
    display: none;
  }
}

.input-number-form-item label {
  width: 100%;
  text-align: left;
}
