<template>
  <div class="avatar">
    <img :src="avatarUrl" alt="avatar"/>
  </div>
</template>

<script>
import avatarMap from '~/utils/avatarMap';
import profileMixin from '~/mixins/profileMixin'

export default {

  props: {
    firstname: {
      type: String,
      required: true,
    },
    gender: {
      type: Number,
      required: true
    },
    age: {
      type: Number,
      required: true
    }
  },

  mixins: [profileMixin],

  data() {
    return {
      options: {
        style: 'circle',
        skin: ['light', 'brown', 'darkBrown', 'black'],
        facialHairChance: 100,
        accessoriesChance: 50
      }
    }
  },

  computed: {
    avatarOptions() {
      const ageOptions = avatarMap.age[this.ageRange(this.age)]
      const genderOptions = avatarMap.gender[this.genderLabel(this.gender)]

      let options = { ...this.options, ...ageOptions, ...genderOptions }
      if (ageOptions.hairColor) {
        options.hairColor = ageOptions.hairColor
      }
      Object.keys(options).forEach((key) => (options[key] == null) && delete options[key])
      return options
    },

    avatarUrl() {
      if (!this.firstname || !this.gender || !this.age) {
        return '#'
      }

      return `https://avatars.dicebear.com/v2/avataaars/${ encodeURIComponent(this.firstname) }.svg?`
        + this.encode(this.avatarOptions, 'options')
        + '&random=' + Math.random() * 1000;
    }
  },

  methods: {
    encode(params, prefix = null) {
      var str = []
      for (var param in params) {
        if (!params.hasOwnProperty(param)) {
          continue;
        }

        var key = prefix ? prefix + "[" + param + "]" : param;
        var value = params[param];
        let res = (value !== null && typeof value === "object")
          ? this.encode(value, key)
          : encodeURIComponent(key) + "=" + encodeURIComponent(value)

        str.push(res)
      }
      return str.join('&')
    }
  }
}
</script>

<style scoped lang="scss">
.avatar {
  width: 250px;
  height: auto;
}
</style>
