<template>
  <el-form class="confirmation-form" ref="form" :model="form" :rules="rules">
    <el-row :gutter="20">
      <el-col :span="24">
        <el-form-item prop="firstname" label="Prénom">
          <el-input v-model="form.firstname" placeholder="Prénom" readonly></el-input>
        </el-form-item>
      </el-col>
    </el-row>
    <el-row :gutter="20">
      <el-col :span="8">
        <el-form-item prop="postalCode" label="Code postal">
          <el-input v-model="form.postalCode" placeholder="Code postal"></el-input>
        </el-form-item>
      </el-col>
      <el-col :span="8">
        <el-form-item prop="city" label="Ville">
          <el-input v-model="form.city" placeholder="Ville"></el-input>
        </el-form-item>
      </el-col>
      <el-col :span="8">
        <el-form-item prop="age" label="Age" class="input-number-form-item">
          <el-input-number v-model="form.age" placeholder="Age" :min="1" :max="120"></el-input-number>
        </el-form-item>
      </el-col>
    </el-row>
    <el-row :gutter="20">
      <el-col :span="12">
        <el-form-item prop="familyStatus" label="Statut familial">
          <el-input v-model="familyStatus" placeholder="Statut familial" readonly></el-input>
        </el-form-item>
      </el-col>
      <el-col :span="12">
        <el-form-item prop="familyStatus" label="Nombre d'enfants">
          <el-input v-model="form.children" placeholder="Nombre d'enfants" readonly></el-input>
        </el-form-item>
      </el-col>
    </el-row>
    <el-row :gutter="20">
      <el-col :span="24">
        <el-button :disabled="isDisabled" type="primary" @click="handleClick">Confirmer</el-button>
      </el-col>
    </el-row>
  </el-form>
</template>

<script>
import profileMixin from '~/mixins/profileMixin'

export default {
  props: {
    profile: {
      type: Object,
      required: true
    }
  },

  mixins: [profileMixin],

  mounted() {
    this.form = this.profile
  },

  data() {
    return {
      form: {
        firstname: '',
        postalCode: '',
        city: '',
        age: '',
        familyStatus: '',
        children: ''
      },
      rules: {
        city: { required: true, message: 'Veuillez entrer votre ville.', trigger: 'blur' },
        postalCode: [
          { required: true, message: 'Veuillez entrer votre code postal.', trigger: 'blur' },
          { pattern: /^[0-9]{5}$/, message: 'Veuillez entrer un code postal valide.', trigger: 'blur' },
        ],
        age: [
          { required: true, type: 'number', message: 'Veuillez entrer votre age.', trigger: 'blur' },
          { min: 1, max: 120, type: 'number', message: 'Veuillez entrer un age valide.', trigger: 'blur' }
        ]
      }
    }
  },

  computed: {
    isDisabled() {
      return !this.form.postalCode || !this.form.city
    },

    familyStatus() {
      return this.familyStatusLabel(this.form.familyStatus)
    }
  },

  methods: {
    handleClick() {
      this.$refs['form'].validate(valid => {
        if (!valid) {
          return;
        }
        this.$emit('success')
      })
    }
  }
}
</script>

<style scoped lang="scss">
.confirmation-form {
  width: 75%;
  margin: auto;

  .el-input-number {
    width: 100%;
  }

  .el-button {
    width: 100%;
    margin-top: 24px;
  }
}
</style>
