<template>
  <el-form class="identification-form" ref="form" :model="form" :rules="rules">
    <el-row :gutter="20">
      <el-col :span="24">
        <el-form-item prop="firstname" label="Prénom">
          <el-input v-model="form.firstname" placeholder="Prénom"></el-input>
        </el-form-item>
      </el-col>
    </el-row>
    <el-row :gutter="0">
      <el-col :span="8">
        <el-form-item prop="postalCode" label="Code postal">
          <el-input v-model="form.postalCode" placeholder="Code postal"></el-input>
        </el-form-item>
      </el-col>
      <el-col :span="8" :push="8">
        <el-form-item prop="city" label="Ville">
          <el-input v-model="form.city" placeholder="Ville"></el-input>
        </el-form-item>
      </el-col>
    </el-row>
    <el-row :gutter="20">
      <el-col :span="24">
        <el-button :loading="loading" :disabled="isDisabled" type="primary" @click="handleClick">Confirmer</el-button>
      </el-col>
    </el-row>
  </el-form>
</template>

<script>
import PredictionService from '~/services/PredictionService'

export default {
  data() {
    return {
      form: {
        firstname: '',
        postalCode: '75007',
        city: 'Paris'
      },
      rules: {
        firstname: { required: true, message: 'Veuillez entrer votre prénom.', trigger: 'blur' },
        city: { required: true, message: 'Veuillez entrer votre ville.', trigger: 'blur' },
        postalCode: [
          { required: true, message: 'Veuillez entrer votre code postal.', trigger: 'blur' },
          { pattern: /^[0-9]{5}$/, message: 'Veuillez entrer un code postal valide.', trigger: 'blur' },
        ]
      },
      loading: false
    }
  },

  computed: {
    isDisabled() {
      return !this.form.firstname || !this.form.postalCode || !this.form.city
    }
  },

  methods: {
    handleClick() {
      this.$refs['form'].validate(valid => {
        if (!valid) {
          return;
        }

        this.loading = true

        PredictionService
          .predict(this.form.firstname, this.form.city, this.form.postalCode)
          .then(res => { this.$emit('success', res) })
          .catch(res => { this.$emit('error', res) })
          .then(() => { this.loading = false })
      })
    }
  }
}
</script>

<style scoped lang="scss">
.identification-form {
  width: 75%;
  margin: auto;

  .el-button {
    width: 100%;
    margin-top: 24px;
  }
}
</style>
