<template>
  <div class="recommendation-section">
    <p ref="recommendation">
      Bonjour {{ profile.firstname | capitalizeFirst }}, je vous invite à vous rendre dans le rayon <strong>{{ shelf.label }}</strong>.
      Ce rayon se situe <span>{{ shelf.itinerary }}</span>.
    </p>
    <template v-if="waiting.time">
      <br/>
      <p ref="waiting">
        Il y a actuellement <span>{{ waiting.count }} {{ 'personne' | plural(waiting.count) }}</span> dans la file d'attente.
        Votre temps d'attente est estimé à moins de <span>{{ waiting.minutes }} {{ 'minute' | plural(waiting.minutes) }}.</span>
      </p>
      <countdown :time="waiting.time" class="countdown">
        <template slot-scope="props">{{ props.minutes | pad }} : {{ props.seconds | pad }}</template>
      </countdown>
    </template>
  </div>
</template>

<script>
import shelfMap from '~/utils/shelfMap'
import profileMixin from '~/mixins/profileMixin'
import SpeechSynthesis from '~/utils/SpeechSynthesis'

export default {
  props: {
    profile: {
      type: Object,
      required: true
    }
  },

  mixins: [profileMixin],

  mounted() {
    this.waiting = this.getWaiting(this.shelf.id)

    this.$store.commit('clients/add', {
      profile: { ...this.profile },
      shelfId: this.shelf.id
    })

    setTimeout(() => {
      let message = this.$refs['recommendation'] ? this.$refs['recommendation'].innerText : ''
      if (this.waiting.time && this.$refs['waiting']) {
        message += this.$refs['waiting'].innerText
      }

      SpeechSynthesis.say(message, 8)
    }, 500)
  },

  data() {
    return {
      waiting: {}
    }
  },

  computed: {
    shelf() {
      const gender = this.genderLabel(this.profile.gender)
      const age = this.ageRange(this.profile.age)
      return shelfMap[gender][age]
    }
  },

  methods: {
    getWaiting(shelfId) {
      let time = this.$store.getters['clients/waitingTime'](shelfId)
      return {
        count: this.$store.getters['clients/waitingClientsCount'](shelfId),
        minutes: Math.ceil(time / 60000),
        time
      }
    }
  }
}
</script>

<style scoped lang="scss">
.recommendation-section {

  p {
    width: 75%;
    margin: auto;
    font-weight: 300;
    font-size: 38px;
    text-align: center;

    span {
      font-weight: normal;
    }
  }

  .countdown {
    margin-top: 42px;
    display: block;
    font-size: 64px;
    text-align: center;
    font-weight: bold;
  }
}
</style>
