<template>
  <div class="container">

    <transition
      enter-active-class="animated fadeIn"
      leave-active-class="animated fadeOut">
      <el-button
        v-if="step > 1"
        @click="prevStep"
        class="back-button"
        type="text">
        <i class="el-icon-back"></i>
      </el-button>
    </transition>

    <transition
      enter-active-class="animated fadeIn"
      leave-active-class="animated fadeOut">
      <el-button
        v-if="step > 2"
        @click="changeStep(1)"
        class="home-button"
        type="text">
        <i class="el-icon-house"></i>
      </el-button>
    </transition>

    <transition
      enter-active-class="animated fadeIn"
      leave-active-class="animated fadeOut">
      <Avatar
        v-if="profile"
        class="profile-avatar"
        :gender="profile.gender"
        :age="profile.age"
        :firstname="profile.firstname"></Avatar>
    </transition>

    <div class="steps">
      <transition
        enter-active-class="animated fast fadeInRight"
        leave-active-class="animated fast fadeOutLeft">
        <Identification
          v-if="!loading && step === 1"
          @success="handleIdentificationSuccess"
          @error="error = $event">
        </Identification>

        <Confirmation
          v-if="!loading && step === 2"
          @success="nextStep"
          :profile="profile">
        </Confirmation>

        <Recommendation
          v-if="!loading && step === 3"
          :profile="profile">
        </Recommendation>
      </transition>
    </div>

    <transition name="fade">
      <el-alert
        v-if="error"
        @close="error = null"
        class="alert-error"
        :title="error"
        type="error"
        effect="dark"></el-alert>
    </transition>

  </div>
</template>

<script>
import Identification from '~/components/Identification'
import Confirmation from '~/components/Confirmation'
import Recommendation from '~/components/Recommendation'
import Avatar from '~/components/Avatar'

export default {
  components: {
    Identification,
    Confirmation,
    Recommendation,
    Avatar
  },

  data() {
    return {
      profile: null,
      error: null,
      step: 1,
      loading: false
    }
  },

  methods: {
    handleIdentificationSuccess(profile) {
      this.profile = profile
      this.nextStep()
    },

    nextStep() {
      this.changeStep(this.step + 1)
    },

    prevStep() {
      this.changeStep(this.step - 1)
    },

    changeStep(step) {
      this.loading = true
      this.step = step

      if (this.step === 1) {
        this.profile = null
      }

      setTimeout(() => {
        this.loading = false
      }, 750)
    }
  }
}
</script>

<style lang="scss">
.alert-error i {
  top: 16px;
}
</style>

<style scoped lang="scss">
.container {
  width: 100%;
  position: relative;

  .profile-avatar {
    position: absolute;
    margin: auto;
    top: 50px;
    left: 0;
    right: 0;
  }

  .back-button, .home-button {
    position: absolute;
    top: 50px;

    i {
      font-size: 22px;
    }
  }

  .home-button {
    right: 12.5%;
  }

  .back-button {
    left: 12.5%;
  }

  .steps {
    padding-top: 350px;
    overflow: hidden;
  }

  .alert-error {
    position: absolute;
    bottom: 0;
    border-radius: 0;
    padding: 12px 8px;
    width: 100%;
  }
}
</style>
